<!DOCTYPE html>
<html>

<head>
    <!-- metadata-->
    <link rel="stylesheet" href="/stylesheets/normalize.css">  <!-- relevtive to domain serving from public file-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Oswald">
    <link rel="stylesheet" href="/stylesheets/lib.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>Finstagram</title>
</head>
<body>
    <header>
        <h1>Finstagram</h1>
        <div class="login-info">
            <% if current_user %>
             <%= current_user.username %>
             <a href="/logout">LOGOUT</a>
             <% else %>
              <a href="/login">Login</a>
              <a href="/signup">signup</a>
              <% end %>
        </div>
        <!-- heading1 at the top of the page-->
    </header>
    <main role="main">
        <%= yield %>  
    </main>
  
</body>
</html>