<!DOCTYPE html>
<html>

<head>
    <!-- metadata-->
    <link rel="stylesheet" href="/stylesheets/normalize.css">  <!-- relevtive to domain serving from public file-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Oswald">
    <link rel="stylesheet" href="/stylesheets/lib.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>Finstagram</title>
</head>
<body>
    <%= yield %>
</body>
</html>